:root{
    --primary-color: #232E35;
    --light-primary-color: #656D72;
    --secondary-color: #7E74F1;
    --light-secondary-color: #F5F3FE;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #FBFBFB;
    --primary-font:"Inter";
    --secondary-font:"Plus Jakarta Sans";
}