@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(./fonts.css);

/* 
Uso de medidas:
Fuentes = rem
Parrafos = ch = el tamaño de la letra "o"

Width = % + max-width
height = no hacer // min-height

Margin-Padding = rem // em

*/

/* Normalizacion */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

a{
    text-decoration: none;
}

html{
    font-size: 16px;
}

li{
    list-style: none;
}

/* Buttons */

button:hover{
    cursor: pointer;
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    padding: 1em 1.5em;
}

.btn-nav{
    background-color: transparent;
    border: none;
}

/* -------------------- HEADER -------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 2rem 5rem;
}

/* Header Logo */

header .header-logo img{
    width: 100%;
}

/* Header Nav */

header .header-nav nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    gap: 2.5em;
}

header .header-nav nav a:hover{
    font-weight: 500;
    transition: 0.2s;
}

/* Header End */

header .header-end{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

header .header-end .btn-resume{
    font-weight: 500;
}

/* -------------------- HERO -------------------- */

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
}

/* Hero Text */

.hero-section .hero-text{
    display: flex;
    flex-direction: column;
    /* padding: 5rem 0; */
}

.hero-section .hero-text .hero-span{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.hero-section .hero-text .hero-span hr{
    width: 1rem;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--light-primary-color);
    
}

.hero-section .hero-text .hero-span span {
    color: var(--light-primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.hero-section .hero-text h2{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.hero-section .hero-text h2 i{
    color: var(--secondary-color);
    font-style: normal;
}

.hero-section .hero-text p{
    width: 54ch;
    font-weight: 400;
    line-height: 2em;
    margin-bottom: 2rem;
}

.hero-section .hero-text .hero-socials{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

/* Hero Profile */

.hero-section .hero-photo-container{
    position: relative;
}

.hero-section .hero-photo-container .bg-rotate{
    width: 350px;
    height: 400px;
    border-radius: 16px;
    position: absolute;
    right: 0;
    rotate: -10deg;
    background-color: var(--secondary-color);
}

.hero-section .hero-photo-container .hero-photo{
    width: 350px;
    height: 400px;
    border-radius: 16px;
    position: relative;
    background-color: var(--light-secondary-color);
}

.hero-section .hero-photo-container .hero-photo img{
    position: absolute;
    bottom: 0;
    border-radius: 16px;
}

/* --------------------SERVICES-------------------- */

.services-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
    background-color: var(--secondary-bg-color);
}

/* Services Titles */

.services-section .services-title{
    margin-bottom: 5rem;
}

.services-section .services-title .services-span{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.services-section .services-title .services-span hr{
    width: 1rem;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--light-primary-color);
}

.services-section .services-title .services-span span{
    color: var(--light-primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.services-section .services-title h2{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 2.8rem;
}

/* Services Cards */

.services-section .services-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.services-section .services-cards article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: var(--primary-bg-color);
    border-radius: 8px;
}

.services-section .services-cards article i{
    color: var(--secondary-color);
    background-color: var(--light-secondary-color);
    padding: 1rem;
    border-radius: 16px;
    margin-bottom: 1.5rem;
}

.services-section .services-cards article h3{
    font-family: var(--secondary-font);
    font-weight: 500;
    margin-bottom: 1rem;
}

.services-section .services-cards article p{
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    line-height: 2em;
    width: 30ch;
}

/* -------------------- PORTFOLIOS -------------------- */

.portfolio-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
}

/* Portfolio Top */

.portfolio-section .portfolio-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.portfolio-section .portfolio-top .portfolio-title .portfolio-span{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.portfolio-section .portfolio-top .portfolio-title .portfolio-span hr{
    width: 1rem;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--light-primary-color);
}

.portfolio-section .portfolio-top .portfolio-title .portfolio-span span{
    color: var(--light-primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.portfolio-section .portfolio-top .portfolio-title h2{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.portfolio-section .portfolio-top .portfolio-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.portfolio-section .portfolio-top .portfolio-nav i:first-child{
    opacity: 50%;
}

.portfolio-section .portfolio-top .portfolio-nav i{
    padding: 0.5rem;
    border-radius: 12px;
    color: var(--secondary-color);
    background-color: #EAE6FE;
}

/* Portfolio Cards */

.portfolio-section .portfolio-card-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.portfolio-section .portfolio-card-div .portfolio-card{
    width: 30%;
    max-width: 30%;
    border-radius: 8px;
    border: 1px solid #0000001A;
    position: relative;
}

.portfolio-section .portfolio-card-div .portfolio-card img{
    width: 100%;
    opacity: 50%;
    border-radius: 8px;
    transition: 0.3s;
}

.portfolio-section .portfolio-card-div .portfolio-card:hover{
    img{
        opacity: 100%;
        transition: 0.3s;
    }
}

.portfolio-section .portfolio-card-div .portfolio-card .portfolio-card-text{
    position: absolute;
    bottom: 0;
    background-color: var(--primary-bg-color);
    width: 100%;
    padding: 1.5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.portfolio-section .portfolio-card-div .portfolio-card .portfolio-card-text h3{
    font-family: var(--secondary-font);
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.portfolio-section .portfolio-card-div .portfolio-card .portfolio-card-text .portfolio-card-links{
    display: flex;
    gap: 1rem;
}

.portfolio-section .portfolio-card-div .portfolio-card .portfolio-card-text .portfolio-card-links button{
    background-color: transparent;
    color: var(--light-primary-color);
    border: none;
    font-size: 1.2rem;
}

.bi-link{
    color: var(--light-primary-color);
}

.portfolio-section .portfolio-card-div .portfolio-card .portfolio-card-text .portfolio-card-links button:first-child{
    border: 1px solid #F1F1F1;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.8rem;
}

/* -------------------- WORK EXPERIENCE -------------------- */

.experience-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
    background-color: var(--secondary-bg-color);
}

/* Experience Left */

.experience-section .experience-left{
    width: 40%;
    max-width: 40%;
}

.experience-section .experience-left .experience-title{
    margin-bottom: 5rem;
}

.experience-section .experience-left .experience-title .experience-span{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.experience-section .experience-left .experience-title .experience-span hr{
    width: 1rem;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--light-primary-color);
}

.experience-section .experience-left .experience-title .experience-span span{
    color: var(--light-primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.experience-section .experience-left .experience-nav{
    padding-left: 1rem;
}

.experience-section .experience-left .experience-nav ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.experience-section .experience-left .experience-nav ul li{
    width: 70%;
}

.experience-section .experience-left .experience-nav ul li a{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    padding: 1rem;
}

.experience-section .experience-left .experience-nav ul li i{
    display: none;
}

.experience-section .experience-left .experience-nav ul li:first-child{
    border-radius: 4px;
    background-color: var(--primary-bg-color);
    a{
        color: var(--secondary-color);  
    }
    a i{
        display: inline;
        color: var(--secondary-color);
    }
    
}

/* Experience Right */

.experience-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    max-width: 60%;
}

.experience-right h3{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.experience-right h3 a{
    font-family: var(--primary-font);
    text-decoration: underline var(--light-primary-color);
}

.experience-right .experience-location{
    color: var(--light-primary-color);
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.experience-right .experience-date{
    color: var(--light-primary-color);
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.experience-right .experience-buttons{
    display: flex;
    gap: 1rem;
}

.experience-right .experience-buttons button{
    background-color: transparent;
    color: var(--light-primary-color);
    border: none;
    font-size: 0.8rem;
    border: 1px solid #F1F1F1;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.experience-right hr{
    width: 100%;
    border: 1px solid #F1F1F1;
    margin-bottom: 2rem;
}

.experience-right .experience-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience-right .experience-list li{
    font-weight: 400;
    color: var(--light-primary-color);
    margin-left: 2rem;
}

.experience-right .experience-list li::marker{
    content: "-   ";
    font-size: 1.5rem;
    color: #D9D9D9;
}

/* -------------------- BLOG -------------------- */

.blog-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
}

/* Blog Title */

.blog-section .blog-title .blog-span{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.blog-section .blog-title .blog-span hr{
    width: 1rem;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--light-primary-color);
    
}

.blog-section .blog-title .blog-span span {
    color: var(--light-primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.blog-section .blog-title h2{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 8rem;
}

/* Blogs Cards */

.blog-section .blog-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-section .blog-cards article{
    width: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.blog-section .blog-cards article img{
    width: 100%;
    max-width: 100%;
    height: 250px;
    max-height: 40%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-section .blog-cards article .blog-card-text{
    padding: 1rem;
    border: 1px solid #F1F1F1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}

.blog-section .blog-cards article .blog-card-text h3{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.blog-section .blog-cards article .blog-card-text span{
    font-weight: 500;
    font-size: 0.8rem;
    background-color: var(--secondary-bg-color);
    color: var(--light-primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: fit-content;
}

.blog-section .blog-cards article .blog-card-text p{
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--light-primary-color);
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

.blog-section .blog-cards article .blog-card-text a{
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-primary-color);
}

/* -------------------- TESTIMONIALS -------------------- */

.testimonials-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
    background-color: var(--secondary-bg-color);
}

/* Testimonials Title */

.testimonials-section .testimonials-title .testimonials-span{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.testimonials-section .testimonials-title .testimonials-span hr{
    width: 1rem;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--light-primary-color);
    
}

.testimonials-section .testimonials-title .testimonials-span span {
    color: var(--light-primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.testimonials-section .testimonials-title h2{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 8rem;
}

/* Testimonials Cards */

.testimonials-section .testimonials-cards{
    display: flex;
    justify-content: space-between;
}

.testimonials-section .testimonials-cards article{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 5rem 2rem 1.5rem;
    background-color: var(--primary-bg-color);
    width: 31%;
    max-width: 31%;
    margin-bottom: 4rem;
}

.testimonials-section .testimonials-cards article img{
    width: 6rem;
    max-width: 6rem;
    height: 6rem;
    max-height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -3rem;
}

.testimonials-section .testimonials-cards article p{
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 3rem;
}

.testimonials-section .testimonials-cards article .testimonials-name{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 0.9rem;
    width: 100%;
    text-align: left;
    margin-bottom: 0.8rem;
}

.testimonials-section .testimonials-cards article .testimonials-profesion{
    font-weight: 500;
    font-size: 0.8rem;
    background-color: var(--secondary-bg-color);
    color: var(--light-primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: fit-content;
    margin-right: auto;
}

/* -------------------- EDUCATION -------------------- */

.education-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
}

/* Education Left */

.education-section .education-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 40%;
}

.education-section .education-left .education-title .education-span{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.education-section .education-left .education-title .education-span hr{
    width: 1rem;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--light-primary-color);
    
}

.education-section .education-left .education-title .education-span span {
    color: var(--light-primary-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.education-section .education-left .education-title h2{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 8rem;
}

.education-section .education-left .education-card-container{
    position: relative;
    width: 100%;
    max-width: 100%;
}

.education-section .education-left .education-card-container .timeline hr{
    position: absolute;
    height: 280px;
    width: 1px;
    max-width: 1px;
    left: 1.4rem;
    top: 25px;
    border: 1px solid #F1F1F1
}

.education-section .education-left .education-card-container .education-card{
    margin-bottom: 2rem;
    display: list-item;
    list-style: disc;
    margin-left: 3rem;
}

.education-section .education-left .education-card-container .education-card::marker{
    font-size: 2.5rem;
    color: #F1F1F1;
}

.education-section .education-left .education-card-container .education-card h3{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    display: block;
}

.education-section .education-left .education-card-container .education-card .education-degree{
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--light-primary-color);
    margin-bottom: 1.5rem;
    display: block;
}

.education-section .education-left .education-card-container .education-card .education-date{
    font-weight: 500;
    font-size: 0.8rem;
    display: block;
}

/* Education Right */

.education-section .education-right{
    width: 60%;
    max-width: 60%;
}

.education-section .education-right p{
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.2rem;
    color: var(--light-primary-color);
    margin-bottom: 4rem;
    margin-top: 14rem;
    max-width: 100%;
}

.education-section .education-right .education-skills{
    margin-bottom: 2.5rem;
}

.education-section .education-right .education-skills span{
    font-size: 0.9rem;
    font-weight: 500;
}

.education-section .education-right .education-skills .react-bar{
    width: 70%;
    max-width: 70%;
    height: 8px;
    background-color: var(--light-secondary-color);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.education-section .education-right .education-skills .react-bar hr{
    position: absolute;
    left: 0;
    border: 4px solid var(--secondary-color);
    width: 67%;
    max-width: 67%;
}

.education-section .education-right .education-skills .angular-bar{
    width: 70%;
    max-width: 70%;
    height: 8px;
    background-color: var(--light-secondary-color);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.education-section .education-right .education-skills .angular-bar hr{
    position: absolute;
    left: 0;
    border: 4px solid var(--secondary-color);
    width: 48%;
    max-width: 48%;
}

.education-section .education-right .education-skills .javascript-bar{
    width: 70%;
    max-width: 70%;
    height: 8px;
    background-color: var(--light-secondary-color);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.education-section .education-right .education-skills .javascript-bar hr{
    position: absolute;
    left: 0;
    border: 4px solid var(--secondary-color);
    width: 65%;
    max-width: 65%;
}

/* -------------------- FORM/CONTACT -------------------- */

.form-section{
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: var(--secondary-bg-color);
    padding: 6rem 5rem;
}

/* Form */

.form-section form{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
}

.form-section form .name-input{
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--light-primary-color);
}

.form-section form .email-input{
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--light-primary-color);
}

.form-section form .message-input{
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--light-primary-color);
    resize: none;
}

.form-section form .btn-input{
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    color: var(--primary-bg-color);
}

/* Contact */

.form-section .contact-container{
    display: flex;
    flex-direction: column;
    padding: 3.5rem 6.5rem;
}

.form-section .contact-container .contact-div{
    display: flex;
    margin-bottom: 1rem;
}

.form-section .contact-container .contact-div i{
    color: var(--secondary-color);
    background-color: var(--light-secondary-color);
    padding: 1rem;
    border-radius: 16px;
    margin-bottom: 1.5rem;
}

.form-section .contact-container .contact-div .contact-span{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.form-section .contact-container .contact-div .contact-span h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.form-section .contact-container .contact-div .contact-span span{
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--light-primary-color);
}

/* -------------------- FOOTER -------------------- */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 6rem 5rem;
}

footer .footer-icons{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

footer .footer-icons a i{
    color: var(--light-primary-color);
}

footer span{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--light-primary-color);
}

footer span b{
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--light-primary-color);
}